.inputGroup {
  display: flex;
  flex-direction: column;
}
.inputGroup label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
}
.inputGroup input {
  outline: none;
  border: none;
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  border-radius: 30px;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
