.card {
  display: flex;
  flex-direction: row;
  background: #f9f9f9;
  border: 1px solid #eeeeee;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.card .label p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.status {
  /* background-color: #ede300; */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}
.status p {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
}
