.button {
  background-color: #00bdaa;
  border: none;
  outline: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 150px; */
  padding: 10px 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.button:hover {
  background-color: #04a797;
}
.btn-primary {
  background-color: #9772fb !important;
}
.btn-primary:hover {
  background-color: #8865e7 !important;
}
