.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #25316d;
  padding: 10px 3%;
}

.navbar .title {
  flex: 1;
  /* margin-left: -5rem; */
  text-align: center;
}

.navbar .title h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin: 0;
  line-height: 72px;
}

.navbar .user p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.navbar .user div img {
  background-color: gray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  z-index: 0;
}
.navbar .user div .menu {
  background-color: rgb(51, 82, 138);
  width: 100px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  left: 93%;
}

.userLogo {
  cursor: pointer;
}

.menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navbar .user div .menu div img {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-radius: 0;
  filter: brightness(0) invert(1);
}
.menu div a {
  font-size: 16px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  text-decoration: none;
}
