
.text{
    margin-bottom: 1rem;
}
.text a{
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Poppins',sans-serif;
}
.text a:hover{
    font-weight: 400;
    color: black;
}
.text a p{
    margin: 0;
}
.text img {
    width: 25px;
    height: 25px;
}