/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bg {
  background: url("./assets/login-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: center;
  height: 100vh;
}
@media screen and (max-height: 768px) {
  .bg {
    height: 120vh;
  }
}

.bg-signup {
  background: url("./assets/signup-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: center;
  height: 100%;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  gap: 3rem;
}
.signup-page form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  gap: 3rem;
}
.login-page form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.btnSection {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-no-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.login-page-no-account p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 39px;
  color: white;
  padding: 0;
  margin: 0;
}

.login-page-no-account a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 39px;
  color: white;
}
.login-page-no-account a:hover {
  color: rgb(156, 156, 156);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url("./assets/footer.png") no-repeat;
  background-size: 100%;
  /* object-fit: center; */
  /* position: relative;
  /* bottom: 0; */
  /* top: 100%;
  width: 100%; */
  height: 120px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.main {
  background-color: #f4f4f4;
}

.main-container {
  background: #ffffff;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  /* overflow: scroll; */
  height: 800px;
}

.main-container div h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  border-bottom: 2px solid #a19f9f;
}

.table-container {
  height: 600px;
  overflow-y: scroll;
}

.table-container table {
  /* border: none; */
  border: 1px solid #a19f9f;
  /* background-color: red; */
}

th,
td {
  font-family: "Poppins", sans-serif;
}

.table thead tr th {
  font-size: 15px;
  font-weight: 600;
}

.table tbody tr td {
  font-size: 15px;
  font-weight: 400;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #939393;
  border-radius: 50%;
}
.action-btn img {
  width: 20px;
  height: 20px;
}

.button-status {
  cursor: default;
  border-radius: 15px;
}

.formCardHead {
  border-bottom: 2px solid #a19f9f;
}

.formCardHead h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.verifikasiPenandatangan {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.verifikasiPenandatangan h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

.verifikasiPenandatangan select {
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  padding: 10px 15px;
}

.verifikasiPenandatangan select option {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.formLaporanAction p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
}
