.loginHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginHeader h1,
.loginHeader p {
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.loginHeader h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
.loginHeader p {
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
}
